<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Fixed navbar</a> -->
        <a class="navbar-brand" href="./">
            <img src="./img/Logo Interbrasil.svg" alt="Logo" width="55" height="31"
                class="d-inline-block align-text-top" />
            Facilities
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mercado-livre-price-simulator.html">Simulador de
                        Preços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./remove-special-caracteres.html">Clean Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./download-ipl-briggs.html">IPLs</a>
                    </li>
                    <li class="nav-item">
                    <a target="_blank" class="nav-link" href="https://www.interbrasil.com.br/catalogos/">Catalogos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " target="_blank" href="https://www.interbrasil.com.br/catalogos/">Sobre</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
        </div>
    </div>
</nav>